.shadow{
    background-color: black;
    border-radius: 20px;
}
.body{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 100px;
}
.inp{
    background-color: white;
    color: black;
    border: none;
    /* height: 50px; */
    border-radius: 20px;
    border-color: black;
    padding: 20px;
}
.input{
    padding: 10px;
}
.btn{
    background-color: black;
    color: white;
    padding: 10px;
    /* display: flex;
    align-items: center; */
    border: none;
    text-align: center;
    width: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}
.button{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.color{
    background-color: rgb(183, 109, 231);
    
}